<div class="container">
  <!-- JUMBOTRON -->
  <div id="jumbo" class="jumbotron jumbotron-fluid">
    <div class="container">
      <img id="burger1"
        src="https://www.freepnglogos.com/uploads/burger-png/burger-png-png-images-yellow-images-12.png">
      <h1 id="burgerH" class="display-4 text-center">Eat Da Burger</h1>
      <img id="burger2"
        src="https://www.freepnglogos.com/uploads/burger-png/burger-png-png-images-yellow-images-12.png">

      {{!-- SUBMIT A BURGER  --}}
      <p id="p-jumbo" class="text-center lead">Enter a burger you want to create and click the "Submit" button</p>
      <form class="create-update-form" action="/" method="POST">

        <div class="form-group float">
          {{!-- <label for="ca">Burger Name:</label> --}}
          <input type="text" id="ca" name="name" class="center-block burger_field">
        </div>

        <button type="submit" class="center-block btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <!-- CARDS FOR BURGERS  -->
  {{#each burgers}}
  {{#unless this.devoured}}
  <div class="card w-75">
    <div class="uneaten card-body">
      <h5 class="card-title">{{this.id}}. {{this.burger_name}}</h5>
      <p class="card-text">Please enter customer's name below.</p>
      <form action="/{{this.id}}" method="POST">
        <input type="text" id="ca" name="customer" class="float">
        <input type="hidden" name="devoured" value="true">
        <button type="submit" class="center-block" id="submit">Eat It!</button>
      </form>
    </div>
  </div>
  {{/unless}}
  {{/each}}
  <!-- CARDS FOR EATEN BURGER  -->
  {{#each burgers}}
  {{#if this.devoured}}
  <div class="card w-75">
    <div class="eaten card-body">
      <h5 class="card-title">{{this.id}}. {{this.burger_name}}</h5>
      <p class="card-text">{{#if this.Customer.name}}(Eaten by {{this.Customer.name}}){{/if}}</p>
    </div>
  </div>
  {{/if}}
  {{/each}}
</div>